@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

.main {
    font-family: sans-serif;
}

.scrollable-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: 88vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
}

.scrollable-container::-webkit-scrollbar {
    width: 5px;
}

.scrollable-container::-webkit-scrollbar:hover {
    width: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(0, 114, 245), rgb(0, 114, 245));
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, rgb(0, 114, 245), rgb(0, 114, 245));
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.scrollable-container-dark::-webkit-scrollbar-track {
    background-color: black;
}

.scrollable-container-light::-webkit-scrollbar-track {
    background-color: white;
}